@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
	/** Primary Colors **/
	--Blue: hsl(246, 80%, 60%);
	--LightRed-work: hsl(15, 100%, 70%);
	--SoftBlue: hsl(195, 74%, 62%);
	--LightRed-study: hsl(348, 100%, 68%);
	--LimeGreen: hsl(145, 58%, 55%);
	--Violet: hsl(264, 64%, 52%);
	--SoftOrange: hsl(43, 84%, 65%);

	/** Neutral Colors **/
	--VeryDarkBlue: hsl(226, 43%, 10%);
	--DarkBlue: hsl(235, 46%, 20%);
	--LightBlue: hsl(235, 45%, 61%);
	--PaleBlue: hsl(236, 100%, 87%);

	/** Fonts **/
	--rubik-300: 'Rubik', sans-serif;
	--rubik-400: 'Rubik', sans-serif;
	--rubik-500: 'Rubik', sans-serif;
}

* {
	box-sizing: border-box;
	font-size: 16px;
	padding: 0;
	margin: 0;
	letter-spacing: 1px;
	line-height: 20px;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--VeryDarkBlue);
  font-family: 'Rubik', sans-serif;
  color: #fff;
}

/** Style Provided with starter files from Front End Mentor: https://www.frontendmentor.io/home **/
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/**  ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px  **/

/** Font size: 18px (card titles e.g. Work, Play) **/

/** Container **/
.container {
	display: grid;
	grid-template-columns: 16.06em 1.875em 1fr;
	margin: 15.9375em auto;

	width: 1112px;
	height: 521px;
}

/** Sidebar **/
.sidebar {
	background-color: var(--DarkBlue);
	border-radius: 20px;
	display: grid;
	grid-template-rows: 355px 1fr;
	overflow: hidden;
}

.profile-section {
	background-color: var(--LightBlue);
	border-radius: 20px;
	grid-row: 1;
	padding-top: 35px;
	padding-left: 30px;
}

.profile-image {
	border-radius: 50%;
	border: 5px solid #fff;
	margin-bottom: 40px;
	width: 50%;
}

.sidebar .header {
	font-size: .9em;
	color: var(--PaleBlue);
	font-family: var(--rubik-300);
	margin-bottom: 15px;
}

.name {
	font-family: var(--rubik-300);
	font-size: 3em;
	line-height: 1em;
}

.link-section {
	grid-row: 2;
	list-style: none;
	text-decoration: none;
}

.link-item {
	color: var(--PaleBlue);
	margin-left: 30px;
	margin-top: 25px;
	text-transform: capitalize;
}

.link-item:hover {
	color: #fff;
}

.active-timeframe {
	color: #fff;
}