@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
	--Blue: rgb(88, 71, 235);
	--Orange: rgb(255, 140, 102); /** WORK **/
	--SkyBlue: rgb(86, 194, 230); /** PLAY **/
	--Pink: rgb(255, 92, 124); /** STUDY **/
	--Green: rgb(74, 207, 129); /** EXERCISE **/
	--Purple: rgb(117, 54, 211); /** SOCIAL **/
	--Mango: rgb(241, 198, 91); /** SELF CARE **/
	--BlueCharcoal: rgb(15, 20, 36);
	--DarkBlue: rgb(28, 31, 74);
	--LightBlue: rgb(111, 118, 200);
	--LightBlueGrey: rgb(189, 193, 255);
	--White: rgb(255, 255, 255);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 18px;
	font-family: 'Rubik', sans-serif;
	background-color: var(--BlueCharcoal);
	color: var(--LightBlueGrey);
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.hidden {
	display: none;
}

.active {
	color: var(--White);
}

.container {
	display: grid;
	grid-template-columns: 25px 327px 25px;
	grid-template-rows: 80px 1fr 80px;
}

.content {
	grid-column: 2;
	grid-row: 2;
	display: grid;
	grid-template-rows: 202px 160px 160px 160px 160px 160px 160px;
	gap: 25px;
}

.card {
	background-color: var(--DarkBlue);
	border-radius: 10px;
}

.header .profile-info {
	background-color: var(--Blue);
	border-radius: 10px;
}

.profile-info img {
	width: 75px;
	border: 3px solid var(--White);
	border-radius: 50%;
}

.work {
	background-color: var(--Orange);
}

.play {
	background-color: var(--SkyBlue);
}

.study {
	background-color: var(--Pink);
}

.exercise {
	background-color: var(--Green);
}

.social {
	background-color: var(--Purple);
}

.self-care {
	background-color: var(--Mango);
}
